extends layout

block content
  
  .tool_container
    .nav
      .nav_title #{title}
      .nav_links
        .nav_link Groceries.md
        .nav_link Todos.md
    .content
      .title_bar 
        p.file_name ExampleFile.md
          span.save_file Save
      .content_container
        .markdown_container 
          .markdown_header markdown
          .markdown_textarea_container
            textarea.markdown_textarea
        .preview_container
          .preview_header preview
          div.preview_textarea
  
  .github_link
    a(href="https://github.com/optomal7/mighty-morphin-markdown" target="_blank") source code
  
