extends layout

block content

  .tool_container
    include sidepane.pug
    .content
      include title_bar
      .content_container
        include markdown_container.pug
        include preview_container.pug
