doctype html
html
  head
    title= title
    link(rel='shortcut icon', type='image/png', href='https://image.flaticon.com/icons/png/128/222/222506.png')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-3.2.1.min.js'
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous")
    script(src='/scripts/marked.js')
    script(src='/scripts/main.js')
