
.nav
  .nav_title #{title}
  .nav_links
    .nav_link_container
    .nav_link.nav_add_file_btn
      div New File
        .nav_plus +
    a.fork_me(href="https://github.com/optomal7/mighty-morphin-markdown" target="_blank") Fork me on Github
