
.nav
  .nav_title #{title}
  .nav_links
    .nav_link_container
      for file in files
        div(class="nav_link name-"+file.substring(0,file.length - 3) data-id=file.substring(0,file.length - 3)) #{file}
        div(class="fa fa-trash-o delete-"+file.substring(0,file.length - 3) data-id=file.substring(0,file.length - 3))
    .new_file_btn.nav_add_file_btn
      div New File
        .nav_plus +
    a.fork_me(href="https://github.com/optomal7/mighty-morphin-markdown" target="_blank") Fork me on Github
